PORT=8080
GROUP_NAME=Grupo 8
DB_NAME=aula-db
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
DB_USE_SSL=false
DB_PRIMARY_HOST=localhost
DB_REPLICA_HOSTS=localhost
GENERATOR_INTERVAL_MS=5000
GENERATOR_ENABLED=true
REPLICA_RETRY_ATTEMPTS=10
REPLICA_RETRY_DELAY_MS=500
